extends shop-layout

block content
    div(class="custom-container mt-5 ml-4")
        h1(class="position-relative" style="top: -1rem") Inventory for 
            i #{shop.name}
        table(class="table" style="width: 85%")
            thead
                th(scope="col") Image
                th(scope="col") Name
                th(scope="col") Category
                th(scope="col") Manufacturer
                th(scope="col") In Stock
                th(scope="col") Retail Price
                th(scope="col") Buy Price
                th(scope="col") Last Stocked
            tbody
                //-loading in the items
                each item, i in items
                    //Formating the date field
                    - let d = item.stock_date.getDate()
                    - let m = item.stock_date.getMonth()
                    - let y = item.stock_date.getFullYear()
                    - let date = d + '/' + m + '/' + y
                    tr
                        td
                            img(src="/photo-storage/"+item.img style="max-width: 80px; max-height: 50px")
                        td=item.name
                        td=item.category
                        td=item.manufacturer
                        td=item.stock
                        td $#{item.retail_price}
                        td $#{item.buy_price}
                        td=date
                        td(class="mr-1 pt-0" )
                            a(href="/"+item._id +"/removeItem")
                                span(style="font-size: 200%; color: red; text-decoration: none") &times; 

    div(id="buttonGroup" class="container col-md-2 offset-md-10 position-absolute p-0" style= "top: 11rem; left: 20px")
        - const marginBottom = 2
        - const marginLeft = 3    
        a(href="/"+shop._id+"/addItem" class="btn btn-primary ml-"+marginLeft+" mb-"+marginBottom style="width: 150px; border-radius: 15px; background-color: #009FFD; color: white; border-color: black;") Create an Item
        a(href="/"+shop._id+"/inventory" class="btn btn-primary ml-"+marginLeft+" mb-"+marginBottom style="width: 150px; border-radius: 15px; background-color: red; color: white; border-color: black;") Done
        a(href="/"+shop._id+"/findItems" class="btn btn-primary ml-"+marginLeft+" mb-"+marginBottom style="width: 150px; border-radius: 15px; background-color: #087DB7; color: white; border-color: black;") Find Items
        a(href="/"+shop._id+"/restockItems/option" class="btn btn-primary ml-"+marginLeft+" mb-"+marginBottom style="width: 150px; border-radius: 15px;background-color: #1D3557; color: white; border-color: black;") Restock Items
        a(href="/"+shop._id+"/restockItems/all" class="btn btn-primary ml-"+marginLeft+" mb-"+marginBottom style="width: 150px; border-radius: 15px;background-color: #1D3557; color: white; border-color: black;") Restock All
        a(href="/"+shop._id+"/restockItems/auto" class="btn btn-primary ml-"+marginLeft+" mb-"+marginBottom style="width: 150px; border-radius: 15px;background-color: #1D3557; color: white; border-color: black;") Autostock All
            




