extends shop-layout

block content 
    div(class="custom-container" style="margin-left: 1rem; width: 1000px")
        div(class="row")
            h1(class="position-relative " style="top: 1rem; left: 3rem") Sales Dashboard
            h1(class="position-relative" style="top: 1rem; right: -32rem") Top Sellers
            div(class="wrapper position-relative" style="top: 1.2rem; right: -35rem")
                div(class="custom-select position-relative" style="top: -10px")
                    select(style="-webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: '';")
                        option This Week
                        option This Month
                        option This Year
                        option All Time 
                    div(class="position-relative" style="top: 8px; width: 50px; height: 10px; background-color: white; padding: none; left: 80px")    
        table(class=" position-relative" style="border-collapse: seperate; left:2.5rem;top:1rem; width: 38rem; height: 38rem" )
            thead
                tr
                    th(scope="col") 
                    th(scope="col") 
            tbody
                tr
                    td
                        div(class="wrapper text-center" style="font-size: 250%; border-right: 4px solid black; border-bottom: 4px solid black;") 
                            div(class="lead position-relative" style="font-size: 85%; top: 5px") Products Sold
                            br
                            div(class="lead position-relative" style="font-size: 85%; top: -20px")=productsSold
                    td(class="position-relative" style="left: -2px")
                        div(class="wrapper  text-center" style="font-size: 250%; border-bottom: 4px solid black;") 
                            div(class="lead position-relative" style="font-size: 85%; top: 5px") Total Revenue
                            br
                            div(class="lead position-relative" style="font-size: 85%; top: -20px") $#{Number(revenue).toFixed(2)}
                tr
                    td(class="position-relative" style="top: -139px")
                        div(class="wrapper  text-center" style="font-size: 250%; border-right: 4px solid black") 
                            div(class="lead position-relative" style="font-size: 85%; top: 5px") Orders Made
                            br
                            div(class="lead position-relative" style="font-size: 85%; top: -20px")=ordersMade
                    td(class="position-relative" style="top: -139px")
                        div(class="wrapper text-center" style="font-size: 250%") 
                            div(class="lead position-relative" style="font-size: 85%; top: 5px") Total Profit
                            br
                            div(class="lead position-relative" style="font-size: 85%; top: -20px") $#{Number(profit).toFixed(2)}
        if NumTopItems === 1
            div(class="custom-container position-relative" style="float: right; top: -34rem; left: 100px")
                div(class="position-relative" style="width: 300px; height: 220px; left: 60px") 
                    span(class="position-relative" style="height: 50px; width: 50px; border: 2px solid black; border-radius: 100%; padding: 9px 15px; left: -30px; top: -80px") 1
                    img(class="position-relative" src="/photo-storage/"+firstBestSeller.img style="width: 180px; height: 180px; top: 10px")
                    div(class="mt-3" style="display: flex; justify-content: space-between")
                        div(class="lead" style="float: left; font-size: 110%") + $#{(firstBestSeller.retail_price*firstBestSellerCount).toFixed(2)}
                        div(class="lead" style="float: right; color: grey; font-size: 100%") Sold #{firstBestSellerCount} @ $#{(firstBestSeller.retail_price).toFixed(2)} each
        if NumTopItems == 2
            div(class="custom-container position-relative" style="float: right; top: -34rem; left: 90px")
                div(class="position-relative" style="width: 300px; height: 220px; left: 60px") 
                    span(class="position-relative" style="height: 50px; width: 50px; border: 2px solid black; border-radius: 100%; padding: 9px 15px; left: -30px; top: -80px") 1
                    img(class="position-relative" src="/photo-storage/"+firstBestSeller.img style="width: 180px; height: 180px; top: 10px")
                    div(class="mt-3" style="display: flex; justify-content: space-between")
                        div(class="lead" style="float: left; font-size: 110%") + $#{(firstBestSeller.retail_price*firstBestSellerCount).toFixed(2)}
                        div(class="lead" style="float: right; color: grey; font-size: 100%") Sold #{firstBestSellerCount} @ $#{(firstBestSeller.retail_price).toFixed(2)} each
                    div(class="position-relative mt-5" style="display: flex; justify-content: center")
                        div(class="mr-2" style="width: 220px; height: 190px;")
                            span(class="position-relative" style="height: 20px; width: 20px; border: 2px solid black; border-radius: 100%; padding: 6px 11px; top: -40px") 2
                            img(src="/photo-storage/"+secondBestSeller.img style="width: 120px; height: 120px")
                            div(class="mt-3" style="display: flex; justify-content: space-between")
                                div(class="lead" style="float: left; font-size: 80%") + $#{(secondBestSeller.retail_price*secondBestSellerCount).toFixed(2)}
                                div(class="lead" style="float: right; color: grey; font-size: 70%") Sold #{secondBestSellerCount} @ $#{(secondBestSeller.retail_price).toFixed(2)} each
        if NumTopItems === '3 or more'
            div(class="custom-container position-relative" style="float: right; top: -34rem; left: 240px")
                div(class="position-relative" style="width: 300px; height: 220px; left: 60px") 
                    span(class="position-relative" style="height: 50px; width: 50px; border: 2px solid black; border-radius: 100%; padding: 9px 15px; left: -30px; top: -80px") 1
                    img(class="position-relative" src="/photo-storage/"+firstBestSeller.img style="width: 180px; height: 180px; top: 10px")
                    div(class="mt-3" style="display: flex; justify-content: space-between")
                        div(class="lead" style="float: left; font-size: 110%") + $#{(firstBestSeller.retail_price*firstBestSellerCount).toFixed(2)}
                        div(class="lead" style="float: right; color: grey; font-size: 100%") Sold #{firstBestSellerCount} @ $#{(firstBestSeller.retail_price).toFixed(2)} each
                div(class="position-relative mt-5" style="display: flex; justify-content: center")
                    div(class="mr-3" style="width: 220px; height: 190px;")
                        span(class="position-relative" style="height: 20px; width: 20px; border: 2px solid black; border-radius: 100%; padding: 6px 11px; top: -40px") 2
                        img(src="/photo-storage/"+secondBestSeller.img style="width: 120px; height: 120px")
                        div(class="mt-3" style="display: flex; justify-content: space-between")
                            div(class="lead" style="float: left; font-size: 80%") + $#{(secondBestSeller.retail_price*secondBestSellerCount).toFixed(2)}
                            div(class="lead" style="float: right; color: grey; font-size: 70%") Sold #{secondBestSellerCount} @ $#{(secondBestSeller.retail_price).toFixed(2)} each
                    div(style="width: 220px; height: 190px;")
                        span(class="position-relative" style="height: 20px; width: 20px; border: 2px solid black; border-radius: 100%; padding: 6px 11px; top: -40px; right: 10px") 3
                        img(src="/photo-storage/"+thirdBestSeller.img style="width: 120px; height: 120px")
                        div(class="mt-3" style="display: flex; justify-content: space-between")
                            div(class="lead" style="float: left; font-size: 80%") + $#{(thirdBestSeller.retail_price*thirdBestSellerCount).toFixed(2)}
                            div(class="lead" style="float: right; color: grey; font-size: 70%") Sold #{thirdBestSellerCount} @ $#{(thirdBestSeller.retail_price).toFixed(2)} each
        div(id="shopID" hidden)=shop._id
        script(src="/js/customDropdown.js")
                    