doctype html
html
    head    
        title uShop
        //Bootstrap CSS
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet", href="/css/validation.css")
        script(src='https://code.jquery.com/jquery-3.4.1.js', integrity='sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
        script(src="/js/bookmark.js")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
    body
        nav(class="navbar navbar-expand-md navbar-dark bg-dark sticky-top") 
            a(class="navbar-text" style="font-size:175%; color:white; padding:0px" href="/"+user._id+"/userHome") uShop.com
            a(id="bookmarkBTN" class="img container" href="#")
                img(src="/images/bookmark-icon.png" class="position-absolute" style="width: 1.8%; right: 17.5rem;")  
            a(class="img container" href="/"+user._id+"/cart/"+shop._id)
                img(src="/images/cart-icon.png" class="position-absolute" style="width: 3.3%; right: 13.5rem")
            a(class="img container" href="/"+user._id+"/userProfile")
                img(src="/images/profile-icon.png" class="position-absolute" style="width: 3.3%; right: 10rem" )
            span(class="navbar-text position-absolute" style="right:50px; padding:0px")
                a(style="font-size:120%; color:white" href="/logout") 
                    u Log Out
        div(id="bookmarkDropdown" class="z-1 bg-dark text-white position-absolute p-2 text-center mt-1" style="display: none; right: 13.5rem; width: 150px; border-radius: 10px")
            a(class="text" href="/"+user._id+"/bookmarks/addShop/"+shop._id style="text-decoration: none; color: white") 
                span Add this Page
                b(style="font-size: 110%")   + 
            div(class="dropdown-divider")
            a(class="text" href="/"+user._id+"/bookmarks" style="text-decoration: none; color: white") Go to Bookmarks
        //- Making the success modal render only if an item has been added to cart
        if addedtoCart == true
            div(class="modal fade success" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true")
                div(class="modal-dialog modal-dialog-centered" role="document")
                    div(class="modal-content")
                        div(class="modal-header")
                            h5(class="modal-title" id="successModalLongTitle") Item(s) Added to Cart
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                        div(class="modal-body")
                            p 
                                | #{qty} x 
                                b #{itemAdded.name} 
                                | have been added to your cart.
            //- Jquery to open the modal
            script.
                $(window).on('load', function() {
                    $('#successModal').modal('show')
                })
        div(style="width: 13rem; height: 40rem;")
            div(class="card ml-2 mt-3")
                h5(class="card-title text-center mt-3 mb-3") Categories
                ul(class="list-group list-group-flush p-0")
                    each category, i in shop.itemCategories
                        li(class="list-group-item p-1 text-center")=category
            div(class="card ml-2 mt-3")
                h5(class="card-title text-center mt-3 mb-3") Manufacturers
                ul(class="list-group list-group-flush p-0")
                    each manufacturer, i in shop.manufacturers
                        li(class="list-group-item p-1 text-center")=manufacturer
            div(class="card ml-2 mt-3")
                h5(class="card-title text-center mt-3 mb-3") Price
                input(type="range" class="form-control")
        div(class="row position-absolute" style="top: 6rem; left: 15rem; width: 35rem; font-size: 175%")
                input(type="text" class="form-control position-relative" style="left: 6.5rem")
                label(class="position-relative" style="top: -2.5rem") Search:
        div(class="card-deck position-absolute" style="left: 15rem; top: 11rem")
                    each item, i in items
                        if (i % 4 == 0) && (i != 0)

                        else 
                            div(class="card" style="max-width: 200px")
                                img(data-toggle="tooltip" data-placement="right" title=item.desc class="card-img-top p-1" src="/photo-storage/"+item.img alt="Card image cap" style="max-width: 200  px")
                                div(class="card-body pb-0")
                                    b=item.name
                                    p Price:
                                        b $#{item.retail_price}
                                    form(class="ml-0 position-relative" action="/"+user._id+"/addtoCart/"+item._id+"/shop/"+shop._id, method="post" style="left: -10px")
                                        input(class="form-control position-relative" type="number", name="qty" style="width: 38%; left: 7.3rem; top: 2.4rem" value=1 max=99)
                                        button(type="submit" class="btn btn-primary mb-2") Add to Cart
                                        
                                    
                                    
    script(src="/js/tooltip.js")